@use "../../styles/base";
.walletTile {
  min-width: 270px;
  height: 206px;
  width: 100%;
  background: base.$background-color-secondary;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  &.active {
    cursor: pointer;
  }
  img {
    margin-bottom: 24px;
  }
}
.walletGrid {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0px base.$dialog-padding 9px base.$dialog-padding;
  .walletRow {
    display: flex;
    column-gap: 20px;
  }
}
