.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px 24px 0px;
}

.link {
  text-decoration: none;
  padding-bottom: 6px;
  padding-top: 6px;
}

.auditText {
  display: flex;
  align-items: center;
}

.icon {
  filter: grayscale(100%)
}

.policyIcon {
  font-size: 15px;
  margin-right: 12px;
}

.smallVersion {
  font-size: 10px !important;
  letter-spacing: 1px;
  padding-top: 12px;
}

.leftAlign {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .footerContainer{
    display: none;
  }
}
