.swapContainer {
  max-width: 485px;
  width: 100%;
  padding: 24px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.swapInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.massiveInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  align-items: center;
}

.error {
  border: 1px solid #dc3545;
}

.whiteBackground {
  background: #fff;
}

.massiveInputAssetSelect {
  width: 124px;
  min-height: 124px;
  height: 100%;
}

.massiveInputAmount {
  flex: 1;
  height: 100%;
}

.massiveInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.displaySelectContainer {
  padding: 12px;
  min-height: 100px;
  cursor: pointer;
}

.displayDualIconContainer {
  width: 100px;
  position: relative;
}

.displayDualIconContainerConfirm {
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.displayDualIconContainerSmall {
  width: 60px;
  position: relative;
  margin-right: 24px;
}

.displaySelect {
  display: flex;
  align-items: center;
}

.displaySelectContent {
  flex: 1;
  display: flex;
  align-items: center;
}

.searchContainer {
  padding: 24px;
  height: 600px;
}

.assetSearchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.displayAssetIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50px;
  background: #fff;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.displayAssetIconSmall {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 30px;
  background: #fff;
}

.displayChainIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 60px;
  right: 0px;
  background: #fff;
}

.displayChainIconSmall {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 30px;
  right: -5px;
  background: #fff;
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputTitle {
  padding-bottom: 6px;
  margin-left: 12px;
}

.inputBalance {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
  cursor: pointer;
}

.textField {
  margin-top: 12px;
  margin-bottom: 12px;
}

.largeInput {
  font-size: 46px !important;
}

.addressInput {
  font-size: 16px !important;
  padding: 12px;
}

.actionButton {
  margin-top: 24px !important;
}

.backButton {
  min-width: 100px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmSwap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swapConfirmContainer {
  margin-top: 12px;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.chainDescrPadding {
  padding-top: 12px;
  padding-bottom: 24px;
}

.swapConfirmSide {
  border: 1px solid rgba(128, 128, 128,  0.5);
  border-radius: 10px;
  padding: 24px 6px;
}

.addressField {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 12px;
  width: 100%;
  text-align: center;
  margin: 12px 0px !important;
}

.swapDepositInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.qrPreview {
  padding: 24px;
  height: 148px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textFlex {

}

.flexy {
  display: flex;
  justify-content: space-evenly;
}

.assetSelectMenu {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.txInfoContainer {
  margin-left: 12px;
  flex: 1;
}

.assetSelectBalance {
  flex: 1;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirmationsText {
  padding-bottom: 12px;
}

.swapIconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapIcon {
  cursor: pointer;
  padding: 12px;
  font-size: 60px !important;
}

@media screen and (max-width: 576px) {
  .swapContainer {
    padding: 12px;
  }
  .addressInput {
    font-size: 12px !important;
  }
  .largeInput {
    font-size: 36px !important;
  }
  .addressField {
    font-size: 12px !important;
  }
}
